/*
Theme Name: Basic POS
Author: Jan Michael Cheng
Author URI: http://trusted-freelancer.com/
Description: Basic POS
Version: 1.0
*/



/*----------------------------------------------------------------------------*/

body
{
	width:1068px;
	margin:0 auto;
}
body.msie
{
	
}
a:hover
{
	text-decoration:none;
}
.clearfix
{
	clear:both;
}


section.clssection_siteresponse_1
{
	padding:10px;
	display:none;
}
section.clssection_siteresponse_1 div.clsdiv_siteresponse
{
	margin:0 0 10px 0;
	
}
section.clssection_siteresponse_1 div.clsdiv_siteresponse h4
{
}
section.clssection_siteresponse_1 div.clsdiv_siteresponse p
{
}
section.clssection_siteresponse_1 div.clsdiv_responseerror_1
{
	border:1px solid red;
	padding:5px;
	color:red;
	background-color:#ffe3e4;
}
section.clssection_siteresponse_1 div.clsdiv_responsesuccess_1
{
	border:1px solid green;
	padding:5px;
	color:green;
	background-color:#e3ffe4;
}
section.clssection_siteresponse_1 div.clsdiv_responseinfo_1
{
	border:1px solid blue;
	padding:5px;
	color:blue;
	background-color:#e3f1ff;
}


/*----------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------*/
header#idheader_mainheader_1
{
	margin:0 0 20px 0;
}
header#idheader_mainheader_1 h1
{
	margin:0 0 20px 0;
}


header#idheader_mainheader_1 section#idsection_mainmenu_1
{
	background-color:#fafafa;
	padding:10px
}
header#idheader_mainheader_1 section#idsection_mainmenu_1 nav
{}
header#idheader_mainheader_1 section#idsection_mainmenu_1 nav table
{
	width:100%;
}
header#idheader_mainheader_1 section#idsection_mainmenu_1 nav table tr
{}
header#idheader_mainheader_1 section#idsection_mainmenu_1 nav table tr td
{
	width:25%;
}
header#idheader_mainheader_1 section#idsection_mainmenu_1 nav table tr td ul
{
	margin:0 0 20px 5px;
}
header#idheader_mainheader_1 section#idsection_mainmenu_1 nav table tr td ul li
{}
header#idheader_mainheader_1 section#idsection_mainmenu_1 nav table tr td ul li > ul li
{
	margin:0 0 0 20px;
}
header#idheader_mainheader_1 section#idsection_mainmenu_1 nav table tr td ul li a
{}

header#idheader_mainheader_1 section#idsection_maingreetings_1
{
}
header#idheader_mainheader_1 section#idsection_maingreetings_1 p
{
	text-align:right;
}

/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
main
{
	width:100%;
	background-color:#fafafa;
	padding:10px;
}
main section.clssection_form_1
{
}
main section.clssection_form_1 header
{}
main section.clssection_form_1 header h1
{
	margin:0 0 20px 0;
}
main section.clssection_form_1 table
{
}
main section.clssection_form_1 table tr
{}
main section.clssection_form_1 table tr td
{
	padding:0 0 5px 0;
}

main section.clssection_form_1 table#idtbl_registerform_1
{
	width:50%;
	margin:0 auto;
}
main section.clssection_form_1 table#idtbl_forgotpasswordform_1
{
	width:50%;
	margin:0 auto;
}
main section.clssection_form_1 table#idtbl_loginform_1
{
	width:50%;
	margin:0 auto;
}



main section.clssection_basicquery_1
{
}
main section.clssection_basicquery_1 table
{
	border:1px solid black;
}
main section.clssection_basicquery_1 table th
{
	border:1px solid black;
}
main section.clssection_basicquery_1 table tr
{
	border:1px solid black;
}
main section.clssection_basicquery_1 table tr:hover
{
	background-color:orange;
}
main section.clssection_basicquery_1 table tr td
{
	border:1px solid black;
	padding:0 5px;
}
main section.clssection_basicquery_1 table.clstbl_basicquery_1
{
	width:100%;
	margin:10px 0;
}
main section.clssection_basicquery_1 nav.clsnav_basicquerypaging_1
{
	width:100%;
	text-align:right;
	margin:5px 0;
}
main section.clssection_basicquery_1 nav.clsnav_basicquerypaging_1 ul
{
}
main section.clssection_basicquery_1 nav.clsnav_basicquerypaging_1 ul li
{
	display:inline;
	margin:0 2px;
}
main section.clssection_basicquery_1 nav.clsnav_basicquerypaging_1 ul li a
{
}





main section.clssection_basicread_1
{
}
main section.clssection_basicread_1 table
{
	border:1px solid black;
}
main section.clssection_basicread_1 table th
{
	border:1px solid black;
}
main section.clssection_basicread_1 table tr
{
	border:1px solid black;
}
main section.clssection_basicread_1 table tr:hover
{
	background-color:orange;
}
main section.clssection_basicread_1 table tr td
{
	border:1px solid black;
	padding:0 5px;
}
main section.clssection_basicread_1 table.clstbl_basicreadheader_1
{
	width:100%;
	margin:10px 0;
}
main section.clssection_basicread_1 table.clstbl_basicreadheader_1 tr th
{
	text-align:right;
	padding:10px 5px;
}
main section.clssection_basicread_1 table.clstbl_basicreaddetail_1
{
	width:100%;
	margin:10px 0;
}



main section.clssection_basicupdate_1
{
}
main section.clssection_basicupdate_1 table
{
	border:1px solid black;
}
main section.clssection_basicupdate_1 table th
{
	border:1px solid black;
}
main section.clssection_basicupdate_1 table tr
{
	border:1px solid black;
}
main section.clssection_basicupdate_1 table tr:hover
{
	background-color:orange;
}
main section.clssection_basicupdate_1 table tr td
{
	border:1px solid black;
	padding:0 5px;
}
main section.clssection_basicupdate_1 table.clstbl_basicupdateheader_1
{
	width:100%;
	margin:10px 0;
}
main section.clssection_basicupdate_1 table.clstbl_basicupdateheader_1 tr th
{
	text-align:right;
	padding:10px 5px;
}
main section.clssection_basicupdate_1 table.clstbl_basicupdatedetail_1
{
	width:100%;
	margin:10px 0;
}
main section.clssection_basicupdate_1 table.clstbl_basicupdateadddetail_1
{
	width:100%;
	margin:20px 0 10px 0;
}
main section.clssection_basicupdate_1 table.clstbl_basicupdateadddetail_1 tr td
{
	padding:5px;
}



		  .clssection_basiccrate_1
main section.clssection_basiccreate_1
{
}
main section.clssection_basiccreate_1 table
{
	border:1px solid black;
}
main section.clssection_basiccreate_1 table th
{
	border:1px solid black;
}
main section.clssection_basiccreate_1 table tr
{
	border:1px solid black;
}
main section.clssection_basiccreate_1 table tr:hover
{
	background-color:orange;
}
main section.clssection_basiccreate_1 table tr td
{
	border:1px solid black;
	padding:0 5px;
}
main section.clssection_basiccreate_1 table.clstbl_basiccreateheader_1
{
	width:100%;
	margin:10px 0;
}
main section.clssection_basiccreate_1 table.clstbl_basiccreateheader_1 tr th
{
	text-align:right;
	padding:10px 5px;
}
main section.clssection_basiccreate_1 table.clstbl_basiccreatedetail_1
{
	width:100%;
	margin:10px 0;
}
main section.clssection_basiccreate_1 table.clstbl_basiccreateadddetail_1
{
	width:100%;
	margin:20px 0 10px 0;
}
main section.clssection_basiccreate_1 table.clstbl_basiccreateadddetail_1 tr td
{
	padding:5px;
}


/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
footer#idfooter_mainfooter_1
{
	margin:20px 0 100px 0;
	text-align:center;
}


/*----------------------------------------------------------------------------*/









